.badge-cm-red {
    background-color: #FF0000 !important;
}
.badge-cm-dark-orange {
    background-color: #FF8C00 !important;
}
.badge-cm-orange {
    background-color: #FFA500 !important;
}
.badge-cm-light-orange {
    background-color: #FFD700 !important;
}
.badge-cm-yellow {
    background-color: #FFFF00 !important;
}
.badge-cm-dark-blue {
    background-color: #00008B !important;
}
.badge-cm-blue {
    background-color: #0000FF !important;
}
.badge-cm-light-blue {
    background-color: #ADD8E6 !important;
}
.badge-cm-dark-green {
    background-color: #006400 !important;
}
.badge-cm-light-green {
    background-color: #90EE90 !important;
}
.badge-cm-transparent {
    background-color: #d7cfcf !important;
}
